[submodule "system"]
	path = system
	url = github4ph:perhome/kohana-core.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = github4ph:perhome/kohana-codebench.git
[submodule "modules/database"]
	path = modules/database
	url = github4ph:perhome/kohana-database.git
[submodule "modules/image"]
	path = modules/image
	url = github4ph:perhome/kohana-image.git
[submodule "modules/orm"]
	path = modules/orm
	url = github4ph:perhome/kohana-orm.git
[submodule "modules/auth"]
	path = modules/auth
	url = github4ph:perhome/kohana-auth.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = github4ph:perhome/kohana-userguide.git
[submodule "modules/cache"]
	path = modules/cache
	url = github4ph:perhome/kohana-cache.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = github4ph:perhome/kohana-unittest.git
[submodule "modules/minion"]
	path = modules/minion
	url = github4ph:perhome/kohana-minion.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = github4ph:perhome/kohana-pagination.git
[submodule "modules/mangodb"]
	path = modules/mangodb
	url = github4ph:perhome/kohana-mangodb.git
