[submodule "system"]
	path = system
	url = git@github.com:perhome/kohana-core.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = git@github.com:perhome/kohana-codebench.git
[submodule "modules/database"]
	path = modules/database
	url = git@github.com:perhome/kohana-database.git
[submodule "modules/image"]
	path = modules/image
	url = git@github.com:perhome/kohana-image.git
[submodule "modules/orm"]
	path = modules/orm
	url = git@github.com:perhome/kohana-orm.git
[submodule "modules/auth"]
	path = modules/auth
	url = git@github.com:perhome/kohana-auth.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = git@github.com:perhome/kohana-userguide.git
[submodule "modules/cache"]
	path = modules/cache
	url = git@github.com:perhome/kohana-cache.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = git@github.com:perhome/kohana-unittest.git
[submodule "modules/minion"]
	path = modules/minion
	url = git@github.com:perhome/kohana-minion.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git@github.com:perhome/kohana-pagination.git
[submodule "modules/mangodb"]
	path = modules/mangodb
	url = git@github.com:perhome/kohana-mangodb.git
[submodule "modules/redis"]
	path = modules/redis
	url = git@github.com:perhome/kohana-redis.git
[submodule "modules/captcha"]
	path = modules/captcha
	url = git@github.com:perhome/kohana-captcha.git
[submodule "modules/accounts"]
	path = modules/accounts
	url = git@github.com:perhome/accounts.puhua.co.git
[submodule "modules/article"]
	path = modules/article
	url = git@github.com:perhome/kohana-article.git
[submodule "application/views"]
	path = application/views
	url = git@github.com:perhome/test4fc-theme.git
[submodule "modules/purifier"]
	path = modules/purifier
	url = git@github.com:perhome/kohana-purifier.git
