dd {
  margin: 0 0 10px 0;
}
.pure-g {
}
.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 0 10px 0;
  border-right: 1px #999 solid;
}
.main-container {
  padding-left: 250px;
}

.pure-control-content {
  margin: 1em 0 1em 10em;  
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}


.attachment-img {

  margin: 5px 5px 5px 0;
  height: 120px;

  border: 1px #999 solid;
}
